@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

body {
    color: rgb(var(--foreground-rgb));
    overflow-x: hidden;
    @apply bg-light-background dark:bg-dark-background;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@font-face {
    font-family: "charter";
    src:
        url("/charter_regular.woff2") format("woff2"),
        url("/charter_bold.woff2") format("woff2"),
        url("/chart_bold_italic.woff2") format("woff2"),
        url("/charter_italic.woff2") format("woff2");
}

p,
div,
input,
h1,
h2,
h3,
h4,
h5,
h6,
b,
i,
a {
    outline: none;
    font-family: "charter";
    @apply bg-light-background dark:bg-dark-background text-light dark:text-dark transition-all duration-300;
}

.header-link {
    @apply transition-all duration-300 font-bold;
    @apply text-muted dark:text-muted-dark;
    @apply group-hover:text-light dark:group-hover:text-dark;
    @apply hover:text-light dark:hover:text-dark;
}

.link:not(:is(article .link)) {
    @apply hover:underline transition-all duration-300;
    @apply text-light dark:text-dark;
    @apply group-hover:text-primary dark:group-hover:text-primary-dark;
    @apply hover:text-primary dark:hover:text-primary-dark;
}

.edo {
    font-family: "charter";
    font-weight: bold;
}

article {
    line-height: 1.2rem;

    h1 {
        @apply text-4xl font-bold border-b pb-2 mb-4;
    }

    h2 {
        @apply text-3xl font-bold mb-4;
    }

    h3 {
        @apply text-2xl font-bold mb-4;
    }

    h4 {
        @apply text-xl font-bold mb-4;
    }

    h5 {
        @apply text-lg font-bold mb-4;
    }

    h6 {
        @apply text-base font-bold mb-4;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply mt-8;
    }

    p {
        @apply text-lg mb-4 leading-8;
    }

    ul {
        @apply list-disc list-inside mb-4;
    }

    ol {
        @apply list-decimal list-inside mb-4;
    }

    li {
        @apply text-base mb-2;
    }

    a, .link {
        @apply underline transition-all duration-300;
        @apply text-primary dark:text-primary-dark;
        /* @apply text-[#0b71e7] dark:text-[#4c9bf6];
        @apply hover:text-[#142a3b] dark:hover:text-sky-600; */
        @apply font-semibold;
    }

    blockquote {
        @apply border-l-4 border-neutral-400 dark:border-neutral-400 pl-4 mb-4;

        p {
            @apply text-neutral-500 dark:text-neutral-400 text-lg;
            line-height: 2.3rem;
        }
    }

    *:not(pre) > code {
        @apply px-2 py-1 rounded-lg mr-[0.1rem];
        font-size: 0.875em;
        @apply bg-[#e7e7e7] dark:bg-[#303030] border border-neutral-300 dark:border-neutral-600;
        @apply duration-300 transition-all;
        text-wrap: nowrap;
    }

    pre {
        @apply border border-neutral-300 dark:border-neutral-600 dark:bg-[#303030];
        @apply p-4 rounded-lg text-sm;
        background-color: #e7e7e7;
        overflow-x: auto;
        transition: all 0.3s ease;
    }

    img {
        @apply rounded-sm;
    }

    hr {
        @apply border-0 border-t-2 border-primary dark:border-primary-dark my-4;
    }

    table {
        @apply border-collapse border-2 border-primary dark:border-primary-dark;
        @apply w-full;
    }

    .footnote {
        input:checked ~ span,
        label:focus ~ span {
            display: block;
            pointer-events: auto;
        }

        input:not(:checked) ~ span,
        label:focus ~ span {
            display: none;
        }
        
        /* This will ensure it is hidden if clicked outside */
        body {
            cursor: default;
        }

        label:focus {
            outline: none;
        }
    }
}

.twitter-embed {
    @apply w-full flex flex-row justify-center;

    *:not(svg, g, path, span) {
        @apply text-light dark:text-dark bg-light-background dark:bg-dark-background;
        @apply transition-all duration-300;
    }

    span:hover {
        @apply bg-transparent;
    }

    a {
        color: #1d9bf0;
        text-decoration: none;
    }
}

.pill {
    transition-property: all, opacity, transform;
    transition-duration: 300ms, 700ms, 700ms;
}