@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./obsidian.css";

:root {
    --info-bg: #d0eefc;
    --question-bg: #c6fada;
    --warning-bg: #fde2e2;
    --definition-bg: #f0f0f0;
}

:root.dark{
    --info-bg: #0d2538;
    --question-bg: #0c310c;
    --warning-bg: #3e1313;
    --definition-bg: #242424;
}

body {
    color: rgb(var(--foreground-rgb));
    overflow-x: hidden;
    @apply bg-light-background dark:bg-dark-background;
    @apply print:bg-white print:dark:bg-white;
}

.emph {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@font-face {
    font-family: "charter";
    src:
        url("/charter_regular.woff2") format("woff2"),
        url("/charter_bold.woff2") format("woff2"),
        url("/chart_bold_italic.woff2") format("woff2"),
        url("/charter_italic.woff2") format("woff2");
}

p,
input,
main, hr,
h1,
h2,
h3,
h4,
h5,
h6,
b,
i,
a {
    outline: none;
    font-family: "charter";
    @apply bg-light-background dark:bg-dark-background text-light dark:text-dark !transition-all !duration-300;
    @apply print:bg-white print:dark:bg-white print:text-dark-background print:dark:text-dark-background;
}

div:not(.callout) {
    outline: none;
    font-family: "charter";
    @apply bg-light-background dark:bg-dark-background text-light dark:text-dark !transition-all !duration-300;
    @apply print:bg-white print:dark:bg-white print:text-dark-background print:dark:text-dark-background;
}

strong {
    @apply text-muted dark:text-muted-dark;
}

.callout * {
    @apply !bg-transparent dark:!bg-transparent;
}

ul {
    list-style-type: disc;
}

li::marker, ol::marker {
    /* yes I know these are technically flipped lol */
    @apply !text-muted-dark dark:!text-muted;
}

.info-box {
    @apply rounded-lg p-4 my-4;
    transition: all 300ms;

    * {
        transition: all 300ms;
    }

    :last-child {
        margin-bottom: 0;
    }
}

.info-box[data-info-type="info"] {
    background-color: var(--info-bg);
    *:not(.__Latex__ *) {
        background-color: var(--info-bg);
    }
}

.info-box[data-info-type="definition"] {
    background-color: var(--definition-bg);


    @media print {
        background-color: white;
        border: 1px solid #e7e7e7;

        *:not(.__Latex__ *) {
            background-color: white !important;
        }
    }

    *:not(.__Latex__ *) {
        background-color: var(--definition-bg);
    };
}

.info-box[data-info-type="question"] {
    background-color: var(--question-bg);
    *:not(.__Latex__ *) {
        background-color: var(--question-bg);
    }
}


.info-box[data-info-type="warning"] {
    background-color: var(--warning-bg);
    *:not(.__Latex__ *) {
        background-color: var(--warning-bg);
    }
}

.header-link {
    @apply transition-all duration-300 font-bold;
    @apply text-muted dark:text-muted-dark;
    @apply group-hover:text-light dark:group-hover:text-dark;
    @apply hover:text-light dark:hover:text-dark;
    @apply print:text-dark-background print:dark:text-dark-background;
}

.link:not(:is(article .link)) {
    @apply !no-underline hover:!underline !transition-all !duration-300 !inline-flex flex-row items-center justify-center gap-2;
    @apply text-light dark:text-dark;
    @apply group-hover:text-primary dark:group-hover:text-primary-dark;
    @apply hover:text-primary dark:hover:text-primary-dark;
}

.external-link, .internal-link {
    @apply !underline !transition-all !duration-300 font-bold !text-muted dark:!text-muted-dark;
    @apply group-hover:!text-primary dark:group-hover:!text-primary-dark;
    @apply hover:!text-primary dark:hover:!text-primary-dark;
    background-image: none !important;
    padding-inline-end: 0 !important;
}

.edo {
    font-family: "charter";
    font-weight: bold;
}

blockquote {
    @apply border-l-4 border-neutral-400 dark:border-neutral-400 pl-4 mb-4 italic;

    p {
        @apply text-neutral-500 dark:text-neutral-400 text-lg italic;
        line-height: 2.3rem;
    }
}

article {
    line-height: 1.4rem;
    width: 100%;
    position: relative;
    @apply print:text-base print:dark:text-base;

    * {
        position: relative;
        max-width: 100%;
    }

    h1 {
        @apply text-2xl md:text-4xl font-bold border-b pb-2 mb-4;
    }

    h2 {
        @apply text-xl md:text-3xl font-bold mb-4;
    }

    h3 {
        @apply text-lg md:text-2xl font-bold mb-4;
    }

    h4 {
        @apply text-lg md:text-xl font-bold mb-4;
    }

    h5 {
        @apply text-lg font-bold mb-4;
    }

    h6 {
        @apply text-base font-bold mb-4;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply mt-8 emph;
        @media print {
            page-break-inside: avoid;
        }
    }

    p {
        @apply text-lg mb-4 leading-8 print:text-base;
        line-height: 2.5rem;
    }

    ul {
        @apply list-disc mb-4 ml-4;
    }

    ol {
        @apply list-decimal mb-4 ml-4;
    }

    li {
        @apply text-lg mb-2;
        line-height: 2.5rem;
    }

    li::marker, ol::marker {
        @apply text-muted dark:text-muted-dark;
    }


    a, .link {
        @apply underline transition-all duration-300;
        @apply text-primary dark:text-primary-dark print:dark:text-primary;
        /* @apply text-[#0b71e7] dark:text-[#4c9bf6];
        @apply hover:text-[#142a3b] dark:hover:text-sky-600; */
        @apply font-semibold;
    }

    blockquote {
        @apply border-l-4 border-neutral-400 dark:border-neutral-400 pl-4 mb-4 italic;

        p {
            @apply text-neutral-500 dark:text-neutral-400 text-lg italic;
            line-height: 2.3rem;
        }
    }

    *:not(pre) > code {
        @apply px-2 py-1 rounded-lg mr-[0.1rem] emph;
        font-size: 0.875em;
        @apply bg-[#e7e7e7] dark:bg-[#303030] border border-neutral-300 dark:border-neutral-600;
        @apply duration-300 transition-all;
        text-wrap: nowrap;
        @apply print:bg-[#e7e7e7] print:dark:bg-[#e7e7e7];
    }

    pre {
        @apply border border-neutral-300 dark:border-neutral-600 dark:bg-[#303030];
        @apply p-4 rounded-lg text-sm;
        background-color: #e7e7e7;
        overflow-x: auto;
        transition: all 0.3s ease;
    }

    img {
        @apply rounded-lg mx-auto my-4 print:mb-6 transition-all duration-300;

        @media print {
            page-break-inside: avoid;
        }
    }

    hr {
        @apply h-px border-neutral-300 dark:border-neutral-600 my-8 rounded-lg transition-colors duration-300;
    }

    .table-container {
        @apply overflow-x-auto max-w-2xl mx-auto;
    }

    /* TABLES */
    table:not(.gist table) {
        @apply border-collapse min-w-96 w-full rounded-lg p-4 transition-colors duration-300;
        border-collapse: collapse;
    }
    
    table:not(.gist table) th,
    table:not(.gist table) td {
        @apply p-2 transition-colors duration-300 min-w-fit px-4;
    }
    
    table:not(.gist table) th {
        @apply border border-neutral-300 dark:border-neutral-600;
    }
    
    table:not(.gist table) td {
        @apply text-sm border border-dotted border-neutral-300 dark:border-neutral-600;
    }
    
    table:not(.gist table) td * {
        @apply text-sm;
    }
    
    table:not(.gist table) tr.important * {
        @apply font-semibold bg-[#eeeeee] dark:bg-neutral-800 print:bg-white print:border-solid;
    }

    /* FOOTNOTES */
    .footnote {
        input:checked ~ span,
        label:focus ~ span {
            display: block;
            pointer-events: auto;
        }

        input:not(:checked) ~ span,
        label:focus ~ span {
            display: none;
        }

        label:focus {
            outline: none;
        }
    }

    /* CODE BLOCKS */
    pre code, pre code *, pre {
        @apply print:text-wrap;
        @apply print:!text-dark-background print:dark:!text-dark-background print:!bg-white print:dark:!bg-white;

        @media print {
            page-break-inside: avoid;
        }
    }
}

script {
  display: none !important;
}

@media print {
  script {
    display: none !important;
  }
}

.invert {
    @apply transition-all duration-300;
}

.dark .invert {
    filter: invert(1);
}

.twitter-embed {
    @apply w-full flex flex-row justify-center;

    *:not(svg, g, path, span) {
        @apply text-light dark:text-dark bg-light-background dark:bg-dark-background;
        @apply transition-all duration-300;
        @apply print:bg-white print:dark:bg-white print:text-dark-background print:dark:text-dark-background;
    }

    span:hover {
        @apply bg-transparent;
    }

    a {
        color: #1d9bf0;
        text-decoration: none;
    }

    @media print {
        page-break-inside: avoid;
    }
}

.pill {
    transition-property: all, opacity, transform;
    transition-duration: 300ms, 700ms, 700ms;
}

.__Latex__ .katex, .__Latex__ .katex-html {
    font-size: 1em;
}

.__Latex__ .katex, .__Latex__ .katex-html:not(.katex-display) {
    display: inline-flex;
    flex-direction: row;
}

.__Latex__ .katex-html {
    text-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0.15rem 0.15rem;
    width: 100%;
    max-width: 100%;
}

.scroller {
    mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
    -webkit-mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}

.scroller .scroller-inner {
    animation: scroll 40s linear infinite;
    width: max-content;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-50% - 0.5rem));
    }
}

/** obsidian inserts stuff */

@layer utilities {
  .theme-dark {
    color-scheme: dark;
    --highlight-mix-blend-mode: lighten;
    --mono-rgb-0: 0, 0, 0;
    --mono-rgb-100: 255, 255, 255;
    --color-red-rgb: 251, 70, 76;
    --color-red: #fb464c;
    --color-orange-rgb: 233, 151, 63;
    --color-orange: #e9973f;
    --color-yellow-rgb: 224, 222, 113;
    --color-yellow: #e0de71;
    --color-green-rgb: 68, 207, 110;
    --color-green: #44cf6e;
    --color-cyan-rgb: 83, 223, 221;
    --color-cyan: #53dfdd;
    --color-blue-rgb: 2, 122, 255;
    --color-blue: #027aff;
    --color-purple-rgb: 168, 130, 255;
    --color-purple: #a882ff;
    --color-pink-rgb: 250, 153, 205;
    --color-pink: #fa99cd;
    --color-base-00: #1e1e1e;
    --color-base-05: #212121;
    --color-base-10: #242424;
    --color-base-20: #262626;
    --color-base-25: #2a2a2a;
    --color-base-30: #363636;
    --color-base-35: #3f3f3f;
    --color-base-40: #555555;
    --color-base-50: #666666;
    --color-base-60: #999999;
    --color-base-70: #b3b3b3;
    --color-base-100: #dadada;
    --color-accent-hsl: var(--accent-h),
      var(--accent-s),
      var(--accent-l);
    --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    --color-accent-1: hsl(calc(var(--accent-h) - 3), calc(var(--accent-s) * 1.02), calc(var(--accent-l) * 1.15));
    --color-accent-2: hsl(calc(var(--accent-h) - 5), calc(var(--accent-s) * 1.05), calc(var(--accent-l) * 1.29));
    --background-modifier-form-field: var(--color-base-25);
    --background-secondary-alt: var(--color-base-30);
    --interactive-normal: var(--color-base-30);
    --interactive-hover: var(--color-base-35);
    --text-accent: var(--color-accent-1);
    --interactive-accent: var(--color-accent);
    --interactive-accent-hover: var(--color-accent-1);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
    --background-modifier-cover: rgba(10, 10, 10, 0.4);
    --text-selection: hsla(var(--interactive-accent-hsl), 0.25);
    --input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
    0 2px 4px 0 rgba(0,0,0,.15),
    0 1px 1.5px 0 rgba(0,0,0,.1),
    0 1px 2px 0 rgba(0,0,0,.2),
    0 0 0 0 transparent;
    --input-shadow-hover: inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
    0 2px 3px 0 rgba(0,0,0,.3),
    0 1px 1.5px 0 rgba(0,0,0,.2),
    0 1px 2px 0 rgba(0,0,0,.4),
    0 0 0 0 transparent;
    --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.121),
    0px 3.4px 6.7px rgba(0, 0, 0, 0.179),
    0px 15px 30px rgba(0, 0, 0, 0.3);
    --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071),
    0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
    --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
    --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
  }
}

.skibidiwrapper {
  --code-white-space: pre-wrap;
  --code-border-width: 1px;
  --code-border-color: #d8d8d8;
  --code-radius: var(--radius-s);
  --code-size: var(--font-smaller);
  --code-background: var(--background-primary-alt);
  --code-normal: var(--text-normal);
  --code-comment: var(--text-faint);
  --code-function: var(--color-yellow);
  --code-important: var(--color-orange);
  --code-keyword: var(--color-pink);
  --code-operator: var(--color-red);
  --code-property: var(--color-cyan);
  --code-punctuation: var(--text-muted);
  --code-string: var(--color-green);
  --code-tag: var(--color-red);
  --code-value: var(--color-purple);
}

.dark .skibidiwrapper {
    --code-border-color: #353535;
}

.token, code, div.el-pre {
    @apply duration-300 transition-all;
}