@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'edo';
  src: url('/edo.ttf');
 }

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
  @apply bg-dark dark:bg-light;
}

p, div, input, h1, h2, h3, h4, h5, h6, a {
  outline: none;
  @apply bg-light-background dark:bg-dark-background text-light dark:text-dark transition-all duration-300
}

.header-link {
  @apply hover:underline transition-all duration-300 font-bold;
  @apply text-muted dark:text-muted-dark;
  @apply group-hover:text-light dark:group-hover:text-dark;
  @apply hover:text-light dark:hover:text-dark;
}

.link {
  @apply hover:underline transition-all duration-300;
  @apply text-light dark:text-dark;
  @apply group-hover:text-primary dark:group-hover:text-primary-dark;
  @apply hover:text-primary dark:hover:text-primary-dark;
}

.edo{
  font-family: 'edo';
}
